@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
        <div class="card center">
            <div class="divider"></div>
            <div class="card-image center text-center input-field">
                <input type="text" class="text-center" link="@Url.Action("Searching","Home")" id="SearchText" placeholder="Search here..." value="@ViewBag.Search" style="font-size:x-large" />
            </div>
            <div class="card-content">
                <div class="card-title">
                    <label style="font-size:xx-large">Search Options</label>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s3 input-field left">
                            <label>Filter by  </label>
                        </div>
                        <div class="col s9 input-field">
                            <select id="SearchFilter">
                                <option>Post</option>
                                <option>Laundromats</option>
                                <option>Brands</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 input-field left">
                            <label>Sort by  </label>
                        </div>
                        <div class="col s9 input-field">
                            <select id="SearchSort">
                                <option>Date</option>
                                <option>Price</option>
                                <option>Views</option>
                                <option>Comments</option>
                                <option>Helpers</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="btn btn-floating RedBg XButton waves-effect" onclick="PerformTheSearch('#SearchText','#SearchFilter', '#SearchSort','@Url.Action("Searching","Home")')"><i class="material-icons">search</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SearchPreloader" class="loadingDivFather hidden">
    <div class="loading loadingDiv">
        <div class="bullet">L</div>
        <div class="bullet">o</div>
        <div class="bullet">a</div>
        <div class="bullet">d</div>
        <div class="bullet">i</div>
        <div class="bullet">n</div>
        <div class="bullet">g</div>
    </div>
</div>

<div class="row grid" id="SearchResults">

</div>

